* {
	margin:0px;
}

.grid {
	display: grid;
	grid-template-areas: 
						'one one one one two two'
						'three three four four two two'
						'five five five five five five';
	grid-gap:5px;
	background-color: #2196F3;
  	padding: 5px;
}

.grid > div {
	font-family: Helvetica, Sans-Serif;
  	text-align: center;
  	background-color: rgba(255, 255, 255, 0.8);
  	padding: 20px;
  	font-size: 30px;
}

.one { grid-area:one;}
.two { grid-area:two; }
.three { grid-area:three; }
.four { grid-area:four; }
.five { grid-area:five; }