* {
	margin:0px;
}

.grid {
		display: grid;
		grid-template-areas:
	 			'header header header header header header'
     			'menu main main main Right Right'
     			'menu footer footer footer footer footer';

    grid-gap: 10px;
  	background-color: #2196F3;
  	padding: 10px;
}

/*the div's which are inside the grid */
.grid > div {
  font-family: Helvetica, Sans-Serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
}

.header { grid-area:header;}

.menu { grid-area:menu; }

.main {	grid-area:main; }

.Right { grid-area:Right; }

.footer { grid-area:footer; }