* {
	margin:0px;
	padding: 0px;
}

.grid {
	display: grid; 
						
	grid-template-columns: 1fr 1fr; /* 4 columns inside the grid */
	grid-template-rows: 1fr 1fr 1fr 1fr; /* 4 rows inside the grid */

	grid-template-areas: "title title" 
						 "header header"
						 "sidebar sidebar"
						 "Content Content"
						 "footer footer"
}

/* min-width:800px; --> atleast 800px */
@media screen and (min-width: 800px) {

			.grid {
				display: grid; 
									
				grid-template-columns: 1fr 500px 500px 1fr; /* 4 columns inside the grid */
				grid-template-rows: 1fr 1fr 1fr 1fr; /* 4 rows inside the grid */

				grid-template-areas: ". title title ." 
									 ". header header ."
									 ". sidebar Content ."
									 ". footer footer .";
			}
 }

 .grid div:nth-child(even) {
	background-color: red;
}

.grid div:nth-child(odd) {
	background-color: green;
}

.title {
	grid-area:title;
}

.header {
	grid-area:header;
}

.sidebar{
	grid-area:sidebar;
}

.Content {
	grid-area:Content;
}

.footer {
	grid-area:footer;
}


/*.title {
	 1) grid-column :1/3;
	 2) grid-column-end: span 2; 
	 3) grid-column-start: 1;
		grid-column-end: 3; 
}  */