* {
	box-sizing: border-box;
	margin:0px;
	padding: 0px;
}

h1 {
	margin-bottom: 15px;
}

#container {
  background-color: #00FFFF;
  position: relative;

}

p {
	width : 50px;
	height: 50px;
	border: 1px solid black;
	margin-bottom: 15px;
}

#p1 {
  background-color: #A52A2A;
  position: relative;
  top : 65px; 
  left: 65px;
}

#p2 {
  background-color: #DEB887;
}

#p3 {
  background-color: #5F9EA0;
  position: absolute;
  top:0px;
}

#p4 {
  background-color: #FF7F50;
}
