* {
	box-sizing: border-box;
}

div {
	background-color: yellow
}

p {
	width: 50%;
	border: 3px solid black;
	float: left;
	padding: 10px
}

#p1 {
	background-color: magenta;
}

#p2 {
	background-color: green;
}

section {
	clear: left;
}