	/* Score-1  */
header.Header-navigation {      
	text-align: left;
	font-family: Calibri;
	color: magenta;
}

	/* Score-2  */
p.Paragraph-navigation p {   
	text-align: center;
	font-family: Helvetica;
	color: blue;
}




