p.New_Styling_technique {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color : rgb(218,41,41);  
	font-style: italic;
	font-weight: bold;
	font-size: 24px;
	text-transform: lowercase;
	text-align: center;
}

