body {
	background-image: url(nature.jpg); /* Uploading an image in the background */
	background-size: cover;			   /* To make the full image visible */
}

body a {
	color: #AA4139    /* Applying the rgb color(hexadecimal-format) to the font */
}

body li {
	list-style: none; 		/* Removing the bullet points from link */
	cursor: pointer;  	   /* Appearance of the cursor when the mouse hovers over the link */
	display: inline-block; /* The links appear on a straight line */
}

h2:hover {
	color: red;
	text-align: center;
	border:5px solid rgb(22, 120, 84); 			/* Applying the rgb color to the font */
	background-color: rgba(255,255,12,100);		/* Applying the rgb color with alpha(opacity of the color) to the font */
}

.web-text:last-child {
	background-color: rgba(250,250,0,0.2);
}

.web-text_editor:first-child {
	background-color: rgba(0,250,250,0.2);
}

